# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/

# Environment
.env
.spotify_cache

# Streamlit
.streamlit/

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

.venv/
venv
env/